<footer class="footer">
    <div class="footer__container container">
        <div class="footer__boxes">
            <section class="footer__box">
                <h3 class="footer__header">Blog - kategorie</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="/blog/" class="footer__link">test</a>
                    </li>
                </ul>
            </section>

            <section class="footer__box">
                <h3 class="footer__header">Informacje</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">Polityka prywatności</a>
                    </li>
                    <li class="footer__item">
                        <a href="{{ url('page_contact')}}#email" class="footer__link">E-mail kontaktowy</a>
                    </li>
                </ul>
            </section>

            <section class="footer__box">
                <h2 class="footer__header">Zobacz także</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="https://www.phpdevs.pl" rel="noopener" class="footer__link">Kurs PHPDevs.pl</a>
                    </li>
                    <li class="footer__item">
                        <a href="https://forum.pasja-informatyki.pl" rel="noopener" class="footer__link">Forum Pasja Informatyki</a>
                    </li>
                </ul>
            </section>
        </div>

        <div class="footer__copyright">Copyright &copy; {{ site.name }} 2015-{{ 'now'|date('Y') }}</div>
    </div>
</footer>
