{% extends 'base.html.twig' %}

{% block title %}Blog - kategoria: {{ category.name }}{% endblock %}
{% block description %}Wszystkie wpisy z kategorii {{ category.name }} na blogu Arkadiusza Waluka.{% endblock %}

{% block content %}
    {{ render(controller('App\\Controller\\BlogController::navPart')) }}

    <div class="container">
        <h1 class="main__title main__title--blog">{{ block('title') }}</h1>
        <div class="post-list">
            {% for index, post in posts %}
                {% include 'blog/parts/post-preview.html.twig' %}
            {% endfor %}
        </div>
        {% include 'blog/parts/pagination.html.twig' %}
    </div>
{% endblock %}
