{% extends 'base.html.twig' %}

{% block title %}Blog - najnowsze posty{% endblock %}
{% block description %}Najnowsze posty na blogu informatycznym Arkadiusza Waluka. Główne tematy to programowanie, strony internetowe, rozwój, ale jest tu także miejsce na luźne przemyślenia.{% endblock %}

{% block content %}
    {{ render(controller('App\\Controller\\BlogController::navPart')) }}

    <div class="container">
        <h1 class="main__title main__title--blog">{{ block('title') }}</h1>
        <div class="post-list">
            {% for index, post in posts %}
                {% include 'blog/parts/post-preview.html.twig' %}
            {% endfor %}
        </div>
        {% include 'blog/parts/pagination.html.twig' %}
    </div>
{% endblock %}
