body {
    font-family: 'Open Sans', sans-serif;
    background-color: $background-primary-color;
}

p {
    line-height: 1.6em;
}

.container {
    width: $container-xl;
    margin: 0 auto;

    &--error {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 40vh;
    }

    @media (max-width: $breakpoint-xl) {
        width: $container-lg;
    }
    @media (max-width: $breakpoint-lg) {
        width: $container-md;
    }
    @media (max-width: $breakpoint-md) {
        width: $container-sm;
    }
    @media (max-width: $breakpoint-sm) {
        width: 100%;
    }
}
