body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  background: $background-color;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;

  &--lg {
    width: $container-lg;

    @media (max-width: $container-lg + $container-padding) {
      width: $container-sm;
    }

    @media (max-width: $container-sm + $container-padding) {
      width: 100%;
      padding: 0 $container-padding;
    }
  }

  &--sm {
    width: $container-sm;

    @media (max-width: $container-sm + $container-padding) {
      width: 100%;
      padding: 0 $container-padding;
    }
  }

  &--center {
    text-align: center;
  }
}

.no-break {
  white-space: nowrap;
}