$background-primary-color: #eaeaea;
$background-secondary-color: #2c333d;
$text-primary-color: #000;
$text-secondary-color: #eaeaea;

$primary-color: #3384b4;
$addons-color: #777777;

$header-height: 53px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$full-width-padding: 15px;
