$background-color: #fff;
$primary-color: #5596ff;
$primary-color-text: #fff;
$secondary-color: #f4f4f4;
$secondary-color-text: #000;
$header-color: #000;

$border-radius: 8px;
$content-spacing: 24px;

$container-lg: 1140px;
$container-sm: 760px;
$container-padding: 20px;

$transition-time: 0.2s;