.blog-nav {
    background: $primary-color;
    color: $text-secondary-color;
    font-size: 0.9em;
    overflow-x: auto;
    white-space: nowrap;

    &__list {
        list-style-type: none;
        margin: 0 -10px;
        padding: 0;
        display: flex;

        @media (max-width: $breakpoint-sm) {
            margin: 0;
        }
    }

    &__link {
        color: $text-secondary-color;
        text-decoration: none;
        padding: 12px 10px;
        display: block;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
