.button {
  background: linear-gradient(25deg, $primary-color 0%, $primary-color-light 80%);
  color: $primary-color-text;
  border-radius: $border-radius;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity $transition-time ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    opacity: 0.6;
    border-bottom: none;
  }

  &--big {
    padding: 18px 36px;
    font-size: 1.3rem;
  }

  &--center {
    @media (min-width: $container-sm + $container-padding) {
      margin: 0 auto;
      width: calc($container-sm / 2);
    }
  }

  &__icon {
    width: 25px;
    margin-left: 5px;
    fill: $primary-color-text;
  }
}