.content {
    a {
        color: $primary-color;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
    }

    hr {
        border: 1px solid $primary-color;
    }

    .small-code {
        background: $background-secondary-color;
        color: #bababa;
        padding: 2px;
    }

    .hljs {
        background: $background-secondary-color;
    }

    blockquote {
        font-style: italic;
        border-left: 2px solid $primary-color;
        color: $addons-color;
        margin-left: 10px;
        margin-right: 0;
        padding: 1px 0 1px 15px;
    }

    ul, ol {
        margin-left: 10px;
        padding-left: 15px;
    }

    li {
        margin: 7px 0;
    }

    h1 {
        font-weight: normal;
    }

    h2 {
        font-size: 1.4em;
    }

    .header-link {
        color: $text-primary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.box-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;

    &__item {
        border: 1px solid $primary-color;
        margin: 0 10px 15px 0;
        padding: 8px 12px;
    }
}

.block {
    padding: 1px 15px;

    &--info {
        background: $background-secondary-color;
        color: $text-secondary-color;
    }

    .header-link {
        color: $text-secondary-color;
    }
}
