.footer {
    background: $background-secondary-color;
    color: $text-secondary-color;

    &__boxes {
        display: flex;

        @media (max-width: $breakpoint-sm) {
            padding-left: $full-width-padding;
            padding-right: $full-width-padding;
            flex-direction: column;
        }
    }

    &__box {
        width: 33.3%;

        @media (max-width: $breakpoint-sm) {
            width: 100%;
        }
    }

    &__header {
        font-weight: normal;
        font-size: 1.3em;
        margin: 20px 0 0 0;
    }

    &__list {
        margin-bottom: 0;
        padding-left: 22px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: $primary-color;
        line-height: 1.5em;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__copyright {
        margin-top: 15px;
        padding-bottom: 18px;
        text-align: center;
        font-size: 0.95em;
    }
}
