.header {
    background: $background-primary-color;
    border-bottom: 1px solid $primary-color;
    position: fixed;
    width: 100%;
    z-index: 100;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
        position: relative;

        @media (max-width: $breakpoint-md) {
            flex-direction: column;
            height: unset;
        }
    }

    &__logo {
        text-decoration: none;
        color: $text-primary-color;
        padding: 8px 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint-md) {
            display: flex;
            align-items: center;
            height: $header-height;
            padding: 0;
        }
    }

    &__logo-image {
        height: 24px;
        margin-right: 6px
    }

    &__navigation {
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint-md) {
            flex-direction: column;
            padding-bottom: 15px;
            display: none;

            &--open {
                display: flex;
            }
        }
    }

    &__top-social {
        margin-left: 5px;
    }

    &__button {
        position: absolute;
        top: $header-height / 2 - 15;
        display: none;
        right: 0;
        border: 1px solid $addons-color;
        background: none;
        padding: 4px;

        @media (max-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
        }
        @media (max-width: $breakpoint-sm) {
            right: 10px;
        }

        &--bar {
            width: 18px;
            height: 2px;
            background-color: $addons-color;
            margin: 2px;
        }
    }
}

.top-nav {
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint-md) {
            flex-direction: column;
        }
    }

    &__item {
        text-transform: uppercase;

        &--separator {
            margin: 0 10px;
            opacity: 0.4;
        }
    }

    &__link {
        display: block;
        color: $text-primary-color;
        text-decoration: none;
        padding: 8px;
        opacity: 0.7;

        &:hover, &:focus {
            color: $primary-color;
        }

        &--active {
            color: $primary-color;
        }
    }
}

.top-social {
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    &__link {
        display: block;
    }

    &__icon {
        width: 22px;
        opacity: 0.6;
        display: block;
        padding: 4px;
    }

    &__link:hover &__icon, &__link:focus &__icon {
        opacity: 1;
    }
}
