.index-part {
  &__container {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;

    &--top {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__image-container {
    margin-right: 10px;
  }

  &__image {
    max-width: 100%;
    transform: rotate(3deg);
    border-radius: $border-radius;
  }

  &__title {
    font-size: 3rem;
    margin: 0 0 35px 0;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.75rem;
    margin: 35px 0;
  }

  &__button {
    width: 150px;
  }
}