.main {
    padding-top: $header-height;

    &__title {
        font-weight: normal;

        &--blog {
            @media (max-width: $breakpoint-sm) {
                padding: 0 $full-width-padding;
            }
        }
    }

    &__content {
        a {
            color: $primary-color;
            text-decoration: none;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}
