.post-list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $breakpoint-sm) {
        padding: 0 $full-width-padding;
    }

    &__post-preview {
        width: ($container-xl / 2) - ($post-list-space / 2);

        @media (max-width: $breakpoint-xl) {
            width: ($container-lg / 2) - ($post-list-space / 2);
        }
        @media (max-width: $breakpoint-lg) {
            width: ($container-md / 2) - ($post-list-space / 2);
        }
        @media (max-width: $breakpoint-md) {
            width: 100%;
        }
    }
}

.post-preview {
    margin-bottom: $post-list-space;
    padding-bottom: 8px;
    border-bottom: 1px solid $primary-color;

    &--right {
        margin-left: $post-list-space;

        @media (max-width: $breakpoint-md) {
            margin-left: 0;
        }
    }

    &__image {
        width: 100%;
        display: block;
    }

    &__title {
        margin: 15px 0 5px 0;
        font-weight: normal;
    }

    &__title-link {
        color: #000;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    &__info {
        margin: 3px 0;
        color: $addons-color;
        font-size: 0.95em;
        font-weight: bold;
    }

    &__info-link {
        color: #000;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
