.post {
  &__image {
    width: 100%;
    display: block;
  }

  &__header {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 2rem;
    margin: 15px 0 20px 0;
  }

  &__comments {
    padding-bottom: 50px;

    a {
      color: $primary-color;
    }
  }
}

.post-info {
  color: darken($primary-color-text, 50%);

  &__spacer {
    margin: 0 6px;
  }

  &__link {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color $transition-time ease-in-out;

    &:hover {
      text-decoration-color: inherit;
    }
  }
}

.post-list {
  display: grid;
  column-gap: 30px;
  row-gap: 35px;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
  margin-bottom: 35px;

  &--small {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $container-sm + $container-padding) {
    grid-template-columns: 1fr;
  }

  &__pagination {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}

.post-preview {
  &__image {
    width: 100%;
    display: block;
    border-radius: $border-radius;
  }

  &__post-info {
    margin: 14px 0 10px 0;
  }

  &__link {
    color: #000;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color $transition-time ease-in-out;

    &:hover {
      text-decoration-color: inherit;
    }
  }

  &__title {
    font-size: 1.4rem;
    line-height: 1.75rem;
    margin: 10px 0;
  }

  &__description {
    font-size: 1.1rem;
    line-height: 1.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0 0 0;
  }
}