.sidebar {
    margin-left: 50px;
    opacity: 0.6;

    @media (max-width: $breakpoint-xl) {
        margin-left: 0;
    }
    @media (max-width: $breakpoint-sm) {
        padding: 0 $full-width-padding;
    }

    &__header {
        font-weight: normal;
        font-size: 1.4em;
        border-left: 1px solid $primary-color;
        padding: 1px 0 2px 10px;
    }

    &__link {
        color: $primary-color;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    &__posts {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-xl) {
            flex-direction: row;
        }
    }

    &__post-preview {
        border-bottom: 1px solid $primary-color;
        margin-bottom: 20px;
        padding-bottom: 12px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-xl) {
            width: 33.3%;
            margin-right: 30px;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
