.sidebar {
    margin-left: 50px;
    opacity: 0.6;

    @media (max-width: $breakpoint-xl) {
        margin-left: 0;
    }
    @media (max-width: $breakpoint-sm) {
        padding: 0 $full-width-padding;
    }

    &__header {
        font-weight: normal;
        font-size: 1.4em;
        border-left: 1px solid $primary-color;
        padding: 1px 0 2px 10px;
    }

    &__items {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-xl) {
            flex-direction: row;
        }
    }

    &__item {
        margin-bottom: 25px;

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-xl) {
            margin-bottom: 0;
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }

        @media (max-width: $breakpoint-sm) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        width: 100%;
        display: block;
    }

    &__text-link {
        color: $primary-color;
        line-height: 1.5em;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__image-link {
        text-decoration: none;
        color: $text-primary-color;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        font-weight: normal;
        font-size: 1em;
        margin: 5px 0 0 0;
        line-height: 1.3em;
    }
}
