{% extends 'base.html.twig' %}

{% block title %}Błąd {{ exception.statusCode }}{% endblock %}
{% block description %}Wystąpił błąd.{% endblock %}

{% block content %}
    <article class="section">
        <div class="container container--lg">
            <h1 class="main__title">{{ block('title') }}</h1>
            <div class="content">
                <p>Niestety, coś tu nie zadziałało &#128577;</p>
                <p>Wystąpił problem, którego jeszcze nie rozwiązałem. Spróbuj ponownie później lub przejdź na inną podstronę.</p>
            </div>
        </div>
    </article>
{% endblock %}
