{% extends 'base.html.twig' %}

{% block title %}Błąd {{ exception.statusCode }}{% endblock %}
{% block description %}Wystąpił nieoczekiwany błąd.{% endblock %}
{% set showSimpleFooter = true %}

{% block content %}
    <article class="main__content">
        <div class="section">
            <div class="container">
                <h1 class="section__main-title">{{ block('title') }}</h1>
                <p>Ojej, coś poszło nie tak. Niestety nie możesz teraz zobaczyć tej strony.</p>
            </div>
        </div>
    </article>
{% endblock %}
