{% extends 'base.html.twig' %}

{% block title %}Błąd {{ exception.statusCode }}{% endblock %}
{% block description %}Wystąpił błąd.{% endblock %}

{% block content %}
    <article class="container container--sm container--center section">
        <h1 class="main__title">{{ block('title') }}</h1>
        <p>Wystąpił błąd. Spróbuj ponownie za chwilę.</p>
    </article>
{% endblock %}
