{% extends 'base.html.twig' %}

{% block title %}Błąd {{ exception.statusCode }}{% endblock %}
{% block description %}Wystąpił błąd.{% endblock %}

{% block content %}
    <div class="container container--sm container--center">
        <h1 class="main__title">Błąd {{ exception.statusCode }}</h1>
        <p>Wystąpił błąd. Spróbuj ponownie za chwilę.</p>
    </div>
{% endblock %}
