{% extends 'base.html.twig' %}

{% block title %}Błąd 404{% endblock %}
{% block description %}Strona nie została znaleziona.{% endblock %}

{% block content %}
    <article class="container container--sm container--center section">
        <h1 class="main__title">{{ block('title') }}</h1>
        <p>Niestety, szukana strona nie została znaleziona…</p>
    </article>
{% endblock %}
