{% extends 'base.html.twig' %}

{% block title %}Błąd 404 - nie znaleziono{% endblock %}
{% block description %}Nie ma takiej strony.{% endblock %}

{% block content %}
    <article class="main__content">
        <div class="section">
            <div class="container">
                <h1 class="section__main-title">{{ block('title') }}</h1>
                <p>Ups, nie ma takiej strony. Być może pomyliłeś adres lub strona została usunięta.</p>
            </div>
        </div>
    </article>
{% endblock %}
