{% extends 'base.html.twig' %}

{% block title %}Błąd 404{% endblock %}
{% block description %}Strona nie została znaleziona.{% endblock %}

{% block content %}
    <div class="container container--sm container--center">
        <h1 class="main__title">Błąd 404</h1>
        <p>Niestety, szukana strona nie została znaleziona…</p>
    </div>
{% endblock %}
