<footer class="footer">
    <div class="footer__row container container--lg">
        {% include 'parts/socials.html.twig' %}
        <ul class="footer__links links">
            <li class="links__item"><a href="{{ path('page_privacy_policy') }}" class="links__link">Polityka prywatności</a></li>
            <li class="links__item"><a href="{{ path('page_contact') }}" class="links__link">Kontakt</a></li>
        </ul>
    </div>
    <div class="footer__info container container--lg">
        Copyright &copy; 2015-{{ 'now'|date('Y') }} - Arkadiusz Waluk waluk.pl
    </div>
</footer>