<footer class="footer">
    <div class="footer__row container container--lg">
        {% include 'parts/socials.html.twig' %}
        <ul class="footer__links links">
            <li class="links__item"><a href="{{ path('page_privacy_policy') }}" class="links__link">Polityka prywatności</a></li>
            <li class="links__item"><a href="{{ path('page_contact') }}" class="links__link">Kontakt</a></li>
        </ul>
    </div>
    <div class="footer__info container container--lg">
        Copyright &copy; 2015-{{ 'now'|date('Y') }} - Arkadiusz Waluk waluk.pl
    </div>
</footer>
<div id="cookie-info" class="cookie-info">
    <div class="cookie-info__container container container--lg">
        <span>Ta strona korzysta z plików cookies (tzw. ciasteczek) oraz przetwarza niektóre dane osobowe.<br>Szczegółowe informacje na ten temat znajdują się w <a href="{{ url('page_privacy_policy') }}" class="cookie-info__link">polityce prywatności i cookies</a>.</span>
        <button id="cookie-info-accept" class="button">Akceptuję</button>
    </div>
</div>